.App {
  text-align: center;
}

.picture-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  max-width: 360px;
  margin: 0 auto;
}

.picture-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  object-fit: contain;
}

.picture-grid-container {
  position: relative;
}

.hidden {
  display: none;
}